*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans 3";
  line-height: 1.5;
}

h2{
  transition: all .5s;
  cursor: pointer;
}

/* Nav Bar */
nav{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 4.5em;
}

nav img{
  width: 1.75em;
  margin-left: 1em;
}

h1{
  margin-left: .5em;
  padding: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.125rem;
}

nav a{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all .5s;
}

nav a:hover{
  transform: scale(1.1);
}

#home{
  margin-left: auto;
  margin-right: 1em;
}

#about-me{
  margin-right: 1em;
}

/* Featured Post */
#featured-post{
  position: relative;
  min-height: 20em;
  height: fit-content;
  max-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5em 1em;
  color: white;
  text-shadow: 0 0 black;
  background-color: black;
}

#featured-post img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  cursor: pointer;
}


#featured-post p, #featured-post h2{
  background-color: rgba(0,0,0,.75);
  z-index: 1;
}

#featured-post .date{
  font-size: 1rem;
  margin: 0 0 1em 0;
  font-weight: 300;
  width: fit-content;
  padding: .25em;
}

#featured-post h2{
  margin: 0 0 .5em 0;
  font-size: 1.75rem;
  font-weight: 800;
  width: fit-content;
  padding: .25em;  
}

#featured-post h2:hover{
  transform: scale(1.025);
}

#featured-post .subheading{
  font-weight: 400;
  margin: 0 0 0 0;
}

/* Main */

main{
  padding: 0 1.5em;
  background: url("../public/images/page-background.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

main h3, main .subheading, main h2, main .date, .post-container *{
  width: fit-content;
  padding: .3em; 
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,.9);
  letter-spacing: .05em;
}

main h3{
  font-size: 1.25rem;
  margin: 0 auto .5em;
  display: block;
  width: fit-content;
}

main img{
  width: 100%;
  border-radius: 35px;
  padding: .15em;
  background-color: black;
}

.profile-photo{
  display: block;
  width: 75%;
  margin: 1em auto 0;
  padding: .15em;
  background-color: black;
}

.content-seperator{
  height: 1px;
  width: 75%;
  background-color: black;
  margin: 0 auto 1em;
}


/* Posts */
.posts-container{
  padding: 2em 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.post{
  flex:1 350px;
}

.post img{
  width: 100%;
  border-radius: .125em;
  cursor: pointer;
}

.post .date{
  margin: .5em 0 0 0;
}

.post h2{
  margin: .25em 0 0 0;
  width: fit-content;
}

.post h2:hover{
  transform: scale(1.1);
}

.post .subheading{
  margin-top: .25em;
}

#load-more{
    display: block;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    margin: .75rem auto 1.5em;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/* Footer */
footer{
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
}

#footer-logo{
  font-size: 1rem;
  margin: 0;
  color: white;
}

#footer-copyright{
  margin: 0;
  font-size: .75rem;
  color: rgb(216, 216, 216);
}


/* Blog Classes */

.post-container h4{
  font-size: 1.125rem;
}

.post-container{
  margin-bottom: 1em;
}

@media (min-width: 1024px){

  /* Nav */
  nav img{
    width: 2em;
    margin-left: 3em;
  }

  h1{
    font-size: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

  #about-me{
    margin-right: 2em;
  }
  /* Featured Post */
  #featured-post{
    min-height: 40em;
    max-height: 50em;
    padding: 4em 4em;
  }

  #featured-post .date{
    font-size: 1.5rem;
    width: fit-content;
    padding: .25em;
  }

  #featured-post h2{
    font-size: 2.5rem;
    width: fit-content;
    padding: .25em;
  }

  #featured-post .subheading{
    font-size: 1.5rem;
    width: fit-content;
    padding: .25em;
    width: 60%;
  }
  /* Main */

  main{
    text-align: center;
    padding: 0 5em;
  }
  
  main .date{
    font-size: 1.25rem;
    margin: 1em auto 0;
  }

  main h2{
    font-size: 1.75rem;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  main h4{
    margin: auto;
  }

  main .subheading{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  main img{
    width: 50%;
  }

  .profile-photo{
    width: 25%;
  }

  /* Posts Container */
  .post img{
    min-height: 310px;
    max-height: 650px;
  }

  .post{
    flex: 1 475px;
    margin: 0 auto;
  }

  .post .date{
    font-size: 1.25rem;
  }

  .post h2{
    font-size: 1.75rem;
  }

  .post .subheading{
    font-size: 1.25rem;
  }

  #load-more{
    font-size: 1.5rem;
  }

  /* Footer */

  footer{
    padding: 3em;
  }

  #footer-logo {
    font-size: 1.5rem;
  }

  #footer-copyright {
    font-size: 1.25rem;
  }

  /* Blog Classes */

  .post-container h4{
    font-size: 1.75rem;
  }

  .post-container{
    margin-bottom: 1em;
    font-size: 1.5rem;
    width: fit-content;
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}

/* .post-container h4{
  background-color: rgba(255,255,255,.05);
} */

.hidden{
  display: none !important;
}


