*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: grid;
  grid-template-rows: 6em auto auto 6em;
  font-family: "Source Sans 3";
}

/* Nav Bar */
nav{
  grid-row: 1/2;
  display: flex;
  justify-content: start;
  align-items: center;
}

nav img{
  width: 1.125em;
  margin-left: 1em;
}

h1{
  margin-left: .5em;
  padding: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.125rem;
}

nav a{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

#home{
  margin-left: auto;
  margin-right: 1em;
}

#about-me{
  margin-right: .5em;
}

/* Featured Post */
#featured-post{
  min-height: 20em;
  height: fit-content;
  max-height: 25em;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5em 1em;
  color: white;
  text-shadow: 0 0 black;
  background-color: black;
  background: url("../public/images/featured-post-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



#featured-post p, #featured-post h2{
  background-color: rgba(0,0,0,.75);
}

#featured-post .date{
  font-size: 1rem;
  margin: 0 0 1em 0;
  font-weight: 300;
}

#featured-post h2{
  margin: 0 0 .5em 0;
  font-size: 1.75rem;
  font-weight: 800;
  width: 80%;
}

#featured-post .post-text{
  font-weight: 400;
  margin: 0 0 0 0;
}

/* Main */
main{
  grid-row:3/4;
  padding: 2em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}

.post{
  flex:1 350px;
}

.post img{
  width: 100%;
  border-radius: .125em;
}

.post .date{
  margin: .5em 0 0 0;
}

.post h2{
  margin: .25em 0 0 0;
}

.post .post-text{
  margin-top: .25em;
}

/* Footer */
footer{
  grid-row: 4/5;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer-logo{
  font-size: 1rem;
  margin: 0;
  color: white;
}

#footer-copyright{
  margin: 0;
  font-size: .75rem;
  color: rgb(216, 216, 216);
}

@media (min-width: 1024px){
  
  body{
    grid-template-rows: auto auto auto 10em;
  }

  /* Nav */
  nav img{
    width: 2em;
    margin-left: 3em;
  }

  h1{
    font-size: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

  #about-me{
    margin-right: 2em;
  }
  /* Featured Post */
  #featured-post{
    min-height: 40em;
    max-height: 50em;
    padding: 4em 4em;
  }

  #featured-post .date{
    font-size: 1.5rem;
    width: fit-content;
    padding: .25em;
  }

  #featured-post h2{
    font-size: 2.5rem;
    width: fit-content;
    padding: .25em;
  }

  #featured-post .post-text{
    font-size: 1.5rem;
    width: fit-content;
    padding: .25em;
    width: 60%;
  }
  /* Main */
  .post{
    flex: 1 475px;
    margin: 0 auto;
  }

  .post .date{
    font-size: 1.25rem;
  }

  .post h2{
    font-size: 1.75rem;
  }

  .post .post-text{
    font-size: 1.25rem;
  }

  #footer-logo {
    font-size: 1.5rem;
  }

  #footer-copyright {
    font-size: 1.25rem;
  }
}